# dependencies
node_modules/
**/node_modules
.env

# build output
dist/
build/

# misc
.DS_Store
*.pem

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# terraform
**/.terraform

# Python virtual environments
venv/
.venv/
env/
.env/
**/venv/
**/.venv/
**/env/
**/.env/
ENV/
.ENV/
**/ENV/
**/.ENV/
__pycache__/
*.py[cod]
*$py.class